header {
		background-image: url('Backpicture.png');
}

ul {
	float:center;
}

ul li {
	display: inline-block;
}


ul li {
		list-style-type: none;
		padding: 5px 10px;
		margin: 10px 10px;
		border: 1px;
}

ul li:hover {
		background-color: white;
		color: white;
}